
<div class="row">
  <div class="col-md-8"><h2>{{article.heading}}</h2></div>
  <div class="col-md-4"><h5 class="date">{{date(article.createDateTime)}}</h5></div>
</div>

<p>{{article.body}}</p>

<hr/>

<a class="nav" href="#/articles/{{listUrl}}"><< Back</a>