<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-10">
      <!--Article List-->

      <ul class="articles">
        <li ng-repeat="article in listResult.results"
            class="article-listing">
          <div class="row">
            <div class="col-md-8"><h3>{{article.heading}}</h3></div>
            <div class="col-md-4"><h5 class="date">{{date(article.createDateTime)}}</h5></div>
          </div>
          
          <p>{{snippet(article.body)}}</p>
          <a class="nav" href="#/article/{{article | selfLink}}/{{listUrl}}">Read more >></a>
          
          <hr/>

        </li>
      </ul>

    </div>
    <div class="col-md-2">
      <!--Search -->
      <div>
        Search: <input ng-model="searchString">
      </div>
      
      <div>
        <ul class="searchresult">
          <li ng-repeat="article in searchResult.results | orderBy:score"
              class="article-listing">
            <a href="#/article/{{article | selfLink}}/{{listUrl}}">{{article.heading}}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  
  <div class="row">
    <div class="col-md-3">
      <!--Previous page-->
      <span ng-if="listResult | previousLink">
        <a class="nav" href="#/articles/{{listResult | previousLink}}"><< Previous</a>
      </span>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <!--Next page -->
      <span ng-if="listResult | nextLink">
        <a class="nav" href="#/articles/{{listResult | nextLink}}">Next >></a>
      </span>
    </div>
  </div>
</div>
