/* app css stylesheet */

body {
  padding-top: 20px;
  margin: 50px 50px 50px 50px;
  font-family: arial;
}

.articles {
  list-style: none;
}

.articles li {
  clear: both;
  padding-top: 15px;
}

.searchresult {
  list-style: none;
}

.searchresult li { background: #f4f4f4; }
.searchresult li:nth-child(odd) { background: #fcfcfc; }

.date {
  font-style: italic;
}

.nav {
  color: turquoise;
  text-decoration: none;
}

/** Detail View **/

h1 {
  border-bottom: 1px solid gray;
}
